Map
- Função que aplica uma função a todos os itens de um iterável (uma lista, por exemplo).
- É uma maneira eficiente e consisa de transformar dados.

In [1]:
def quadrado(x):
    return x ** 2

In [2]:
numeros = [1, 2, 3, 4, 5]

In [5]:
for n in numeros:
    print(quadrado(n))

1
4
9
16
25

In [7]:
resultados = map(quadrado, numeros)
list(resultados)

[1, 4, 9, 16, 25]

In [8]:
def celsius_para_fahrenheit(c):
    return (c * 9/5) + 32

In [9]:
temperaturas_celsius = [0, 20, 37, 100]

In [10]:
temperaturas_fahrenheit = map(celsius_para_fahrenheit, temperaturas_celsius)
list(temperaturas_fahrenheit)

[32.0, 68.0, 98.6, 212.0]

In [11]:
def normalizar_nome(nome):
    return nome.strip().lower()

In [12]:
nomes = ["   Ana", "João", "MARIA  ", "pedro", "   LUcAs  "]

In [13]:
nomes_normalizados = map(normalizar_nome, nomes)
list(nomes_normalizados)

['ana', 'joão', 'maria', 'pedro', 'lucas']